/* LangItem.css */

.service-item {
  width: 100%;
  min-width: 200px;
  max-width: 700px;
  height: auto;
  min-height: 200px; /* Пример минимальной высоты */
  margin: 0 auto; /* Центрирование карточки */
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;
}

.service-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.service-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: left;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.service-button:focus {
  outline: none;
}

.service-title {
  padding-top: 10px;
  margin-left: 20px;
  font-family: var(--font-family-default);
  color: var(--text-color-light);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xl);
  text-align: left;
  white-space: nowrap;
}

.service-description {
  margin-left: 20px;
  max-width: 75%;
  font-family: var(--font-family-mono);
  color: var(--text-color-muted);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  text-align: left;
}

.service-image {
  position: absolute;
  right: 2%;
  width: 10vw; /* Размер изображения зависит от ширины окна */
  height: 10vw; /* Сделаем высоту такой же, чтобы сохранить пропорции */
  max-width: 160px; /* Ограничиваем максимальный размер */
  max-height: 160px; /* Ограничиваем максимальный размер */
  min-width: 100px; /* Ограничиваем минимальный размер */
  min-height: 100px; /* Ограничиваем минимальный размер */
  object-fit: cover;
}

.add-to-project-button-background {
  width: 100%;
  height: 60px;
  background-color: var(--background-color-lightest);
  border-radius: var(--border-radius-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  cursor: pointer;
  border: none;
  outline: none;
  position: static; /* Убираем абсолютное позиционирование */
  margin: 25px; /* Добавляем отступ */
}

.add-to-project-button-background.success {
  animation: successAnimation 3s forwards;
}

.add-to-project-button-background.error {
  animation: errorAnimation 3s forwards;
}

.add-to-project-button-background:hover {
  transform: scale(1.05);
  background-color: var(--background-color-muted);
}

@keyframes successAnimation {
  0% {
    background-color: var(--background-color-muted);
  }
  20% {
    background-color: var(--background-color-green);
  }
  100% {
    background-color: var(--background-color-lightest);
  }
}

@keyframes errorAnimation {
  0% {
    background-color: var(--background-color-muted);
  }
  20% {
    background-color: var(--background-color-red);
  }
  100% {
    background-color: var(--background-color-lightest);
  }
}

.add-to-project-button-text {
  font-family: var(--font-family-default);
  color: var(--text-color-dark);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
  white-space: nowrap;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .service-title {
    font-size: var(--font-size-lg);
  }

  .service-description {
    font-size: var(--font-size-sm);
    max-width: 70%;
  }

  .add-to-project-button-text {
    font-size: var(--font-size-sm);
  }

  .service-image {
    top: 4%;
    min-width: 50px; /* Ограничиваем минимальный размер */
    min-height: 50px; /* Ограничиваем минимальный размер */
  }
}
