/* Edit Languages Page Styles */
.page-body {
    font-family: var(--font-family-default);
    color: var(--text-color-light);
    background-color: var(--background-color-darkest);
    padding: 20px;
    min-height: 100vh;
    margin-top: 120px;
}

.page-title {
    font-size: var(--font-size-title);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

/* Table Styles */
.table {
    width: 100%;
    margin-top: 20px;
    background-color: var(--background-color-dark);
    border-radius: var(--border-radius-xs);
    overflow-x: auto;
    display: block;
    table-layout: fixed;
}

.table-header {
    background-color: var(--background-color-medium);
}

.table-cell, .table-header-cell {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--background-color-light);
    width: 10%;
}

.table-header-cell {
    font-size: var(--font-size-sm);
}

.table-row:hover {
    background-color: var(--background-color-light);
    color: var(--text-color-dark);
}

/* Button Styles */
.button {
    padding: 10px 15px;
    border-radius: var(--border-radius-sm);
    border: none;
    cursor: pointer;
    font-size: var(--font-size-sm);
    margin: 5px 20px;  /* Adds space between buttons */
}

.button-add {
    background-color: var(--background-color-green);  /* Brighter Green for Add */
    color: var(--text-color-light);
}

.button-edit {
    background-color: var(--background-color-muted);  /* Lighter gray for Edit */
    color: var(--text-color-dark);
}

.button-delete {
    background-color: var(--background-color-red);  /* Red for Delete */
    color: var(--text-color-light);
}

.button:hover {
    opacity: 0.8;
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--background-color-darker);
    padding: 20px;
    border-radius: var(--border-radius);
    width: 400px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: var(--border-radius-xs);
    border: 1px solid var(--border-color-light);
    background-color: var(--background-color-medium-dark);
    color: var(--text-color-light);
}

.modal-content button {
    margin-top: 10px;
}

/* Image Styles */
.language-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--border-radius-xs);
}
