/* Projects Page Styles */
.page-body {
    font-family: var(--font-family-default);
    color: var(--text-color-light);
    background-color: var(--background-color-darkest);
    padding: 20px;
    min-height: 100vh;
    margin-top: 120px;
}

.page-title {
    font-size: var(--font-size-title);
    text-align: center;
    margin-bottom: 20px;
}

/* Filters */
.filter-label {
    font-size: var(--font-size);
    margin-right: 10px;
}

.filter-input, .filter-select {
    padding: 10px;
    margin: 5px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color-light);
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
}

/* Table Styles */
.table {
    width: 100%;
    margin-top: 20px;
    background-color: var(--background-color-dark);
    border-radius: var(--border-radius-xs);
    overflow-x: auto; /* Enables horizontal scrolling */
    display: block; /* Ensures the table can be scrolled horizontally */
}


.table-header {
    background-color: var(--background-color-medium);
}

.table-cell, .table-header-cell {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--background-color-light);
}

.table-header-cell {
    font-size: var(--font-size-sm);
}

.table-row:hover {
    background-color: var(--background-color-light);
    color: var(--text-color-dark);
}

/* Link Styles */
.link {
    text-decoration: none;
    color: var(--background-color-green);
    font-weight: var(--font-weight-bold);
}

.link:hover {
    text-decoration: underline;
}

/* Filter Layout */
.filter-container {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам оборачиваться на мобильных устройствах */
    gap: 20px; /* Добавляет пространство между фильтрами */
    justify-content: flex-start; /* Убирает растягивание и делает расположение элементов последовательным */
}

.filter-item {
    display: flex;
    flex-direction: column; /* Elements inside filter-item will be arranged vertically */
}

/* Desktop view: Filters displayed horizontally, but not stretched */
@media screen and (min-width: 768px) {
    .filter-container {
        flex-direction: row; /* Sets a horizontal layout */
        justify-content: flex-start; /* Elements are placed one after another, no stretching */
        align-items: center; /* Centers elements vertically */
    }

    .filter-item {
        flex-direction: column; /* Внутри каждого filter-item элементы остаются вертикальными (label сверху, input снизу) */
        margin-right: 20px; /* Пространство между элементами фильтра */
    }

    .filter-item label {
        margin-right: 10px; /* Пробел между лейблом и полем ввода */
    }
}
