/* Projects Page Styles */
.body {
    font-family: var(--font-family-default);
    color: var(--text-color-light);
    background-color: var(--background-color-darkest);
    padding: 20px;
    min-height: 100vh;
}

h1 {
    font-size: var(--font-size-title);
    text-align: center;
    margin-bottom: 20px;
}

/* Filters */
label {
    font-size: var(--font-size);
    margin-right: 10px;
}

input[type="date"], select {
    padding: 10px;
    margin: 5px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color-light);
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
}

/* Table Styles */
table {
    width: 100%;
    margin-top: 20px;
    background-color: var(--background-color-dark);
    border-radius: var(--border-radius-xs);
    overflow-x: auto; /* Enables horizontal scrolling */
    display: block; /* Ensures the table can be scrolled horizontally */
}


thead {
    background-color: var(--background-color-medium);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--background-color-light);
}

th {
    font-size: var(--font-size-sm);
}

tbody tr:hover {
    background-color: var(--background-color-light);
    color: var(--text-color-dark);
}

/* Link Styles */
a {
    text-decoration: none;
    color: var(--background-color-green);
    font-weight: var(--font-weight-bold);
}

a:hover {
    text-decoration: underline;
}

/* Filter Layout */
.filters {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам оборачиваться на мобильных устройствах */
    gap: 20px; /* Добавляет пространство между фильтрами */
    justify-content: flex-start; /* Убирает растягивание и делает расположение элементов последовательным */
}

.filter-item {
    display: flex;
    flex-direction: column; /* Элементы внутри filter-item будут располагаться вертикально */
}

/* Desktop view: Filters displayed horizontally, but not stretched */
@media screen and (min-width: 768px) {
    /* Фильтры отображаются горизонтально */
    .filters {
        flex-direction: row; /* Устанавливает горизонтальное расположение */
        justify-content: flex-start; /* Элементы идут друг за другом, без растягивания */
        align-items: center; /* Центрирует элементы по вертикали */
    }

    .filter-item {
        flex-direction: column; /* Внутри каждого filter-item элементы остаются вертикальными (label сверху, input снизу) */
        margin-right: 20px; /* Пространство между элементами фильтра */
    }

    .filter-item label {
        margin-right: 10px; /* Пробел между лейблом и полем ввода */
    }
}