:root {
    --font-family-default: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 'Helvetica Neue', Arial;
    --font-family-mono: PT Mono, monospace;

    --background-color-darkest: #0d1117;
    --background-color-dark: #212830;
    --background-color-medium: #6f6f6f;
    --background-color-muted: #d9d9d9;
    --background-color-light: #ababab;
    --background-color-lightest: #cecece;

    --background-color-code: #151b23;
    --background-color-green: #28a745;
    --background-color-red: #dc3545;

    --text-color-light: #ffffff;
    --text-color-dark: #000000;
    --text-color-muted: #d6d6d6;

    --text-color-gray-light: #f0f0f0;
    --text-color-gray: #b0b0b0;
    --text-color-gray-dark: #707070;

    --border-color-light: #ffffff;
    --border-color-dark: #000000;
    --border-radius-xs: 10px;
    --border-radius-sm: 15px;
    --border-radius: 20px;
    --border-radius-lg: 25px;
    --border-radius-xl: 40px;

    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size: 25px;
    --font-size-lg: 30px;
    --font-size-xl: 35px;
    --font-size-subtitle: 40px;
    --font-size-title: 55px;

    --line-height-xs: 15px;
    --line-height-sm: 27px;
    --line-height: 36px;
    --line-height-lg: 45px;
    --line-height-xl: 53px;
    --line-height-subtitle: 50px;
    --line-height-title: 82.5px;
    --line-height-small: 1.4;
    --line-height-large: 1.5;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    position: absolute;
    top: 0;
    min-height: 1800px;
    background-color: var(--background-color-darkest);
}

/* Centering the error message */
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--background-color-darkest);
}

/* Error Message */
.error {
    text-align: center;
    background-color: var(--background-color-red);
    color: var(--text-color-light);
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(255, 76, 76, 0.3);
    font-size: 18px;
    font-weight: bold;
}

.loading {
    font-family: var(--font-family-default);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-light);
    text-align: center;
  
    /* Центрирование */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Анимация */
    display: inline-block;
}
  
.loading::after {
    content: '...';
    display: inline-block;
    animation: dots-animation 1.5s infinite steps(3);
}
  
@keyframes dots-animation {
    0% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
}