.burger-button {
    font-size: var(--font-size-sm); /* Размер шрифта */
    font-weight: var(--font-weight-regular); /* Вес шрифта */
    color: var(--text-color-light); /* Цвет текста */
    background-color: var(--background-color-dark); /* Фон кнопки */
    border-radius: var(--border-radius-sm); /* Скругление углов */
    border: none;
    padding: 10px 15px; /* Отступы */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto; /* Ширина по содержимому */
}

.burger-button:hover {
    color: var(--background-color-gray-light); /* Цвет текста при наведении */
    background-color: rgba(255, 255, 255, 0.1); /* Фон при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

.burger-button img {
    width: 30px;
    height: 30px;
    object-fit: contain; /* Сохранение пропорций изображения */
}


.burger-menu {
    position: absolute;
    background-color: var(--background-color-dark);
    border-radius: var(--border-radius);
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.burger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.burger-menu li {
    margin: 10px 0;
}

.burger-menu a {
    color: var(--text-color-light);
    text-decoration: none;
    font-size: var(--font-size-sm);
}

.menu-button {
    background: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    font: inherit;
    cursor: pointer;
}

.menu-button:focus {
    outline: none;
}

.menu-button:hover {
    text-decoration: underline;
}
  