.breadcrumbs {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px 15px;
    margin: 0;
    font-family: var(--font-family-default);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-light);
    background-color: var(--background-color-dark);
    border-radius: var(--border-radius-sm);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 50px;
}

.breadcrumbs li {
    display: flex;
    align-items: center;
}

.breadcrumbs li a {
    text-decoration: none;
    color: var(--text-color-gray);
    transition: color 0.3s ease-in-out, transform 0.2s;
    padding: 5px 5px;
    border-radius: var(--border-radius-xs);
}

.breadcrumbs li a:hover {
    color: var(--background-color-gray-light);
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

.slash {
    margin: 0 5px;
    font-size: 18px;
    color: var(--text-color-gray);
}
