.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-darkest);
    color: var(--text-color-light);
    font-family: var(--font-family-default);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.home-body {
    width: 100%;
    max-width: 800px;
    padding: 40px;
    background-color: var(--background-color-dark);
    border-radius: var(--border-radius-lg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.home-title {
    font-size: var(--font-size-title);
    margin-bottom: 20px;
}

.home-desc {
    font-size: var(--font-size-lg);
    margin-bottom: 30px;
    color: var(--text-color-muted);
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.btn-resume, .btn-login, .btn-register {
    display: inline-block;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    padding: 15px 25px;
    border: none;
    border-radius: var(--border-radius-sm);
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    width: 200px;
}

.btn-login {
    background-color: var(--background-color-green);
}

.btn-resume {
    background-color: var(--background-color-blue);
}

.btn-register {
    background-color: var(--background-color-orange);
}

.btn-resume:hover, .btn-login:hover, .btn-register:hover {
    background-color: var(--background-color-light);
    transform: translateY(-3px);
}

.btn-resume:active, .btn-login:active, .btn-register:active {
    background-color: var(--background-color-medium);
    transform: translateY(0);
}

/* Адаптивность */
@media (max-width: 600px) {
    .home-body {
        padding: 20px;
    }

    .button-group {
        gap: 10px;
    }

    .btn-resume, .btn-login, .btn-register {
        font-size: var(--font-size-xs);
        padding: 10px 20px;
        width: 180px;
    }
}
